*-debug.log
*-error.log
**/.DS_Store
/.idea
/dist
/tmp
/node_modules
oclif.manifest.json

yarn.lock
pnpm-lock.yaml

.vscode/
docker-compose.yml
migrations/
.env

.github/workflows/test.yml
.github/workflows/onRelease.yml